.App {
  background: linear-gradient(223deg, rgba(1,1,1,1) 43%, rgba(16,0,142,1) 84%, rgba(113,0,56,1) 100%);
  color: aliceblue;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  position: relative;
  font-family: 'Oswald', sans-serif;
}
.footer {
  position: fixed;
  background-color: black;
  bottom: 0; 
  left: 0;
  width: 100%;
  padding-bottom: 12px;
  font-size: 8px;
}