.containerQ{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: stretch;
   align-content: stretch;
}

.flexItem1 {
    border: 4px solid black;
    text-align: center;
    margin: 5px;
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
}

.flexItem2 {
    border: 4px solid black;
    text-align: center;
    margin: 5px;
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
}

.flexItem3 {
    border: 4px solid black;
    text-align: center;
    margin: 5px;
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
}







.svenContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-left: 350px;
}



