.login {
    display: grid;
    place-items: center;
    height: 30vh;
    background-color: black;
}

.login > a {
    padding: 20px;
    border-radius: 100px;
    background-color: #1db954;
    font-weight: 800;
    color: white;
    text-decoration: none;
}