.container {
    height: 100vh;
    width: 200px;
    background-color: #000000;
    padding-top: 20px;
}

li {
    padding-left: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
    list-style-type: none;
  }
  li.active {
    border-left: 2px solid white;
    padding-left: 18px;
  }
  

  li.new-playlist {
    position: absolute;
    bottom: 80px;
}
i {
    margin-right: 5px;
    transform: translateY(1px);
}
i::before {
  font-size: 20px;
}

span {
    color: #999;
    font-weight: 300;
  }

  button {
    background-color: #2bcc6c;
    color: white;
    padding: 12.5px 30px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    border: none;
    cursor: pointer;
  }

  .title {
    margin: 0;
    margin-bottom: 35px;
  }

  input {
    margin-bottom: 20px;
    height: 35px;
    padding-left: 8px;
    font-size: 16px;
    width: 100%;
    color: black;
  }
  .content-wrap {
    margin: 0px auto;
    max-width: 250px;
    text-align: center;
  }
      
      
